* {
  margin: 0;
  padding: 0;
}
.maintitle {
  background: purple;
  color: white;
  padding: 15px;
  text-align: center;
}
.card {
  background: #ffc0cb;
  box-shadow: 2px 4px 4px gray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  margin-left: 55px;
  margin-bottom: 10px;

  width: 235px;

  display: inline-block;
}

img {
  height: 10rem;
  width: 100%;
}
.cardtitle {
  font-size: 18px;
  color: black;
}
.cardPrice {
  font-size: 14px;
  color: #007bff;
}
.cardRating {
  font-size: 14px;
  color: #007bff;
}

.carddesc {
  font-size: 12px;
  color: black;
}
.cardButton {
  height: 25px;
  padding: 3px;
  color: white;
  margin-top: 9px;
  background: #ff4c3b;
  border: 2px solid #ff4c3b;
  border-radius: 3px;
}
.cardButton:hover {
  background: white;
  border: 2px solid white;
  color: #ff4c3b;
}
@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
